<div class="flex space-x-4">
  <section class="px-7 py-8 border-2 rounded-3xl w-72 space-y-5 hover:border-indigo-500 transition-all">
    <h3 class="text-indigo-800 font-semibold text-lg">All you need</h3>
    <p class="text-gray-600 text-sm min-h-10">
      One plan, all the features.
    </p>
    <p>
      <span class="font-bold text-3xl">R$ 5,00</span>
      <span class="font-semibold text-sm">/month</span>
    </p>
    <button class="btn-primary-outline w-full font-semibold">
      Buy plan
    </button>
    <ul class="list-none space-y-3">
      <li class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-2 text-indigo-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
        <span class="text-sm text-gray-600">Feature 1</span>
      </li>
      <li class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-2 text-indigo-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
        <span class="text-sm text-gray-600">Feature 1</span>
      </li>
      <li class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-2 text-indigo-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
        <span class="text-sm text-gray-600">Feature 1</span>
      </li>
      <!-- ... -->
    </ul>
  </section>
  <section class="px-7 py-8 border-2 rounded-3xl w-72 space-y-5 hover:border-indigo-500 transition-all">
    <h3 class="text-indigo-800 font-semibold text-lg">All you need</h3>
    <p class="text-gray-600 text-sm min-h-10">
      One plan, all the features. Two months for free.
    </p>
    <p>
      <span class="font-bold text-3xl">R$ 50,00</span>
      <span class="font-semibold text-sm">/year</span>
    </p>
    <button class="btn-primary-outline w-full font-semibold">
      Buy plan
    </button>
    <ul class="list-none space-y-3">
      <li class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-2 text-indigo-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
        <span class="text-sm text-gray-600">Feature 1</span>
      </li>
      <li class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-2 text-indigo-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
        <span class="text-sm text-gray-600">Feature 1</span>
      </li>
      <li class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 mr-2 text-indigo-500">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
        </svg>
        <span class="text-sm text-gray-600">Feature 1</span>
      </li>
      <!-- ... -->
    </ul>
  </section>
</div>
