<div class="max-w-4xl mx-auto py-8">
  <h1 class="font-black text-3xl mb-2">Subscribe for access</h1>
  <p class="text-lg text-gray-700 mb-3">
    You'll get never before seen content, an extra article per week, and access
    to our private community.
  </p>
  <div class="space-x-4">
    <button
      class="px-3 py-4 bg-indigo-600   text-center rounded font-bold text-white shadow-sm"
    >
      Subscribe for $9/mo
    </button>
    <%# <button
      class="px-3 py-4 bg-indigo-600   text-center rounded font-bold text-white shadow-sm"
    >
      Subscribe for $90/yr
    </button> %>
  </div>
</div>