<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml">
  <head>
    <meta charset="utf-8">
    <meta name="x-apple-disable-message-reformatting">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no">
    <meta name="color-scheme" content="light dark">
    <meta name="supported-color-schemes" content="light dark">
    <!--[if mso]>
      <noscript>
        <xml>
          <o:OfficeDocumentSettings xmlns:o="urn:schemas-microsoft-com:office:office">
            <o:PixelsPerInch>96</o:PixelsPerInch>
          </o:OfficeDocumentSettings>
        </xml>
      </noscript>
      <style>
        td,th,div,p,a,h1,h2,h3,h4,h5,h6 {font-family: "Segoe UI", sans-serif; mso-line-height-rule: exactly;}
      </style>
    <![endif]-->
    <title>Your subscription is active</title>
    <style>
      img {
        max-width: 100%;
        vertical-align: middle
      }
      @media (max-width: 600px) {
        .sm-my-8 {
          margin-top: 32px !important;
          margin-bottom: 32px !important
        }
        .sm-px-4 {
          padding-left: 16px !important;
          padding-right: 16px !important
        }
        .sm-px-6 {
          padding-left: 24px !important;
          padding-right: 24px !important
        }
        .sm-leading-8 {
          line-height: 32px !important
        }
      }
    </style>
  </head>
  <body style="margin: 0; width: 100%; background-color: #f8fafc; padding: 0; -webkit-font-smoothing: antialiased; word-break: break-word">
    <div style="display: none">
      Enjoy </div>
    <div role="article" aria-roledescription="email" aria-label="Your subscription is active" lang="en">
      <div class="sm-px-4" style="margin-bottom: 32px; background-color: #f8fafc; font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', sans-serif">
        <h2 class="sm-my-8" style="margin-top: 48px; margin-bottom: 48px; text-align: center; font-weight: 900; color: #000001">Side Project Starter</h2>
        <div class="sm-px-6" style="margin-left: auto; margin-right: auto; max-width: 448px; border-radius: 4px; background-color: #fffffe; padding: 48px; font-size: 16px; color: #334155; box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05)">
          <h1 class="sm-leading-8" style="margin: 0 0 24px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 24px; font-weight: 600; color: #000001">
            Hello, <%= @user.profile.first_name || @user.email %>
          </h1>
          <h2 style="font-size: 16px; font-weight: 700">Your subscription is active</h2>
          <p>We're happy to have you.</p>
          <p>
            Visit
            <a href="<%= app_dashboard_url %>" target="_blank" style="color: #2563eb; text-decoration: underline">
              billings page
            </a>
            to see your subscription details.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>